<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/styles.css"/>
        <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>

            <form>
                <input placeholder="Location">
                <button name="submit">Search</button>
            </form>

            <p id="message1"></p>
            <p id="message2"></p>
        </div>
        {{>footer}}

        <script src="./js/app.js"></script>
    </body>
</html>